dir_to_ignore/.metadata
*/.metadata/*
/appthings/[ython/.metadata/*
dir_to_ignore/appthings/python/.metadata
dir_to_ignore/The-engine-/appthings/python/.metadata
dir_to_ignore/appthings/python/.metadata
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target
*/.project

# TeXlipse plugin
.texlipse
--no-metadata 

#for fun
.gofuckyourself
.zach
.porn
.cum